:root {
	--ui-primary: #0089FF;
	--ui-secondary: #233D4D;
	--ui-success: #26E28A;
	--ui-warning: #FFD639;
	--ui-danger: #EE2E31;
	--ui-dark: #232525;
	--ui-light: #f1f1f1;
	--ui-white: #FFFFFF;

	--ui-primary-color: white;
	--ui-secondary-color: white;

	--ui-font-base: 16px;
	--ui-font-size: 16px;
	--ui-font-family: sans-serif;
	
	--ui-borderRadius: 10px;
	--ui-boxSizing: border-box;

	--ui-media-xs: 480px;
	--ui-media-sm: 520px;
	--ui-media-md: 768px;
	--ui-media-lg: 980px;
	--ui-media-xl: 1280px;

	--ui-icon-size: 24px;
	--ui-src-iconset: http://localhost:8888;
	--ui-storage-iconset: tess-ui-icon-set;
}

body {
	margin: 0;
	padding: 0.5rem;
	font-family: sans-serif;
	font-size: 18px;
}

* {
	box-sizing: border-box;
}

ui-row {
	height: 100px
}

ui-notify {
	margin: 1rem;
}